    body {
        font-family:-apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
        background-color: #c6ebc8;
        margin: 0;
        
    }

    .section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 80px;
        padding: 40px;
    }

    .section img {
        width: 45%;
        border-radius: 10px;
    }

    .text-box {
        width: 50%;
    }
 
    h2 {
        font-size: 32px;
        margin-bottom: 15px;
        color: black;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
        color: black;
    }

/* SECTION BACKGROUND */
.about-section {
    background: #0e6453;   
    padding: 80px 20px;
    color: white;
    text-align: center;
}

/* HEADER TEXT */
.about-header {
    max-width: 800px;
    margin: auto;
    margin-bottom: 50px;
}

.about-header h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 15px;
}

.about-header p {
    font-size: 18px;
    line-height: 1.6;
}

/* TEAM CARDS */
.team-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

/* Single Card */
.team-card {
    background: rgba(255, 255, 255, 0.15); 
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 30px;
    width: 280px;
    border-radius: 20px;
    transition: 0.3s;
}

.team-card:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.25);
}

/* Profile Image (Circle) */
.profile-img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid white; 
}

/* Name + Role */
.team-card h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: 600;
    color: white;
}

.team-card .role {
    font-size: 16px;
    opacity: 0.9;
    margin-bottom: 20px;
    color: white;
}

/* Social Icons */
.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.icons i {
    font-size: 26px;
    color: white;     
    transition: 0.3s;
}

.icons i:hover {
    color: #d4f8e8;  
}
.footer p{
    color: white;
}
