/* TITLE */
.contact-title-section {
    text-align: center;
    padding: 40px 20px;
}
body {
    margin: 0px;
    font-family:-apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.title-row {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.title-row i {
    font-size: 50px;
    color: rgb(44, 65, 105);
}

.title-row h2 {
    font-size: 42px;
}



/* IMAGE + PARAGRAPH */
.contact-top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px ;
    width: 100%;
}


.contact-image-box img {
    width: 350px;                
    height: auto;
    border-radius: 20px;          
   
}

.contact-text-box {
    max-width: 700px;             
}

.contact-text-box p {
    font-size: 18px;
    font-weight: 50;
}




/* green background area */
.contact-green-area {
    background: rgb(17, 73, 51);
    padding: 80px ;
    display: flex;
    justify-content: space-between;   
    align-items: flex-start;                 
    flex-wrap: nowrap;               
}



/* contact box */
.contact-box {
    background: white;
    padding: 30px;
    width: 450px;
    border-radius: 20px;
    box-shadow: 0 8px 20px black;
}

.contact-item {
    display: flex;
    align-items: center;
    
    margin-bottom: 18px;
    font-size: 18px;
}

.contact-item i {
    font-size: 24px;
    color: rgba(16, 56, 88, 0.747);
    border: 2px solid rgba(16, 56, 88, 0.747);
    padding: 18px;
    border-radius: 50%;
}
.contact-emails {
    display: flex;
    flex-direction: column;
    
}

.contact-emails a {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.contact-emails a:hover {
    text-decoration: underline;
}
/* Contact rows */
.contact-item {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 25px;
}

/* Circle icon container */
.contact-icon {
    width: 65px;      
    height: 65px;     
    border-radius: 50%;
    border: 3px solid rgb(15, 71, 90);
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-icon img {
    width: 28px;    /* smaller icon */
    height: 28px;
}


/* SUBSCRIBE BOX  */
.subscribe-box {
    background: white;                  
    padding: 40px;
    width: 520px;                         
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    box-shadow: 0 8px 20px black;
}

.subscribe-box h3 {
    font-size: 32px;
    font-weight: 700;
    color: green;
    margin-bottom: 5px;
}

.subscribe-box p {
    font-size: 16px;
    color: darkgreen;
}

/* INPUT FIELDS */
.subscribe-box input {
    padding: 18px 20px;
    border-radius: 40px;
    border: 1px solid white;
    background: rgb(243, 251, 252);
    font-size: 17px;
    width: 100%;
}

/* BUTTON */
.sub-btn {
    background: green;
    color: white;
    padding: 18px;
    border-radius: 40px;
    border: none;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: 0.2s;
}

.sub-btn i {
    font-size: 20px;
}

.sub-btn:hover {
    background: green;
}

/* privacy text */
.privacy-note {
    margin-top: 5px;
    font-size: 14px;
    color: darkgreen;
    text-align: center;
}

/* responsive */
@media (max-width: 850px) {
    .subscribe-box {
        width: 100%;
    }
}