body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background-color: rgb(244, 248, 242);
    /* padding: 30px; */
    margin-top: 70px;
}
 
.title {
    text-align: center;
    color: #2f5d34;
    margin-bottom: 30px;
    font-size: 36px;
}
 
/* .tabs { */
    /* width: 90%; */
    /* margin: auto; */
/* } */
 
/* Hide radio buttons */
.tabs input[type="radio"] {
    display: none;
}
 
/* Tab Labels */
.tabs label {
    padding: 12px 18px;
    background: rgb(207, 232, 207);
    border-radius: 8px 8px 0 0;
    margin-right: 5px;
 
    display: inline-block;
    font-weight: bold;
 
}
 
.tabs label:hover {
    background: rgb(183, 221, 184);
}
 
#tab1:checked + label,
#tab2:checked + label,
#tab3:checked + label,
#tab4:checked + label,
#tab5:checked + label {
    background: #2f5d34;
    color: white;
    transform: translateY(-2px);
}
 
/* third */
.tabs label {
    transition: black 0.3s ease, transform 0.2s ease;
}
 
.tabs label:hover {
    background: rgb(183, 221, 184);
    transform: translateY(-2px);
}
 
 
/* Content Boxes */
.content {
    background: white;
    padding: 25px;
    border-radius: 0 10px 10px 10px;
    display: none;
    border: 2px solid #c3d9c4;
}
 
/* Show content when tab selected */
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
    display: block;
}
 
h2 {
    color: rgb(47, 93, 52);
}
 
h3 {
    color: #4a7f54;
}
 
ul li {
    margin-bottom: 8px;
}
 
/* addition */
.content {
    background: white;
    padding: 25px;
    border-radius: 0 10px 10px 10px;
    border: 2px solid #c3d9c4;
 
    display: none;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 3.0s ease forwards;
}
 
@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.content ul li {
    opacity: 0;
    transform: translateX(-10px);
    animation: listFade 0.4s ease forwards;
}
 
.content ul li:nth-child(1) { animation-delay: 0.1s; }
.content ul li:nth-child(2) { animation-delay: 0.2s; }
.content ul li:nth-child(3) { animation-delay: 0.3s; }
 
@keyframes listFade {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
 
 
 
@media screen and (max-width: 900px) {
    .tabs label {
        display: block;
        width: 100%;
        margin-bottom: 5px;
        border-radius: 8px;
        text-align: center;
    }
 
    .tabs {
        width: 90%;
    }
 
    .content {
        border-radius: 10px;
    }
}
 